<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<listeners>
	
	
	<listener class-name ="com.qapitol.utilities.Listeners"/>
	
	</listeners>
	<test thread-count="5" name="Test">
		<classes>

			<class name="com.qapitol.Testcases.ElementsTest" />
			<class name="com.qapitol.Testcases.FormsTest" />
			<class name="com.qapitol.Testcases.AlertsTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
